@use "tailwindcss";

:root {
  &.dark {
    --background: #242629;
    --headline: #94a1b2;
    --subline: #fffffe;
    --foreground: #16161a;
    --highlight: #2cb67d;
    --tertiary: #7f5af0;

    --card: #242629;
    --card-hover: #2b2b33;

    --font-sans-rubik: "Rubik", sans-serif;
  }

  &.light {
    --background: #d8eefe;
    --headline: #094067;
    --subline: #5f6c7b;
    --foreground: #fffffe;
    --highlight: #3da9fc;
    --tertiary: #f9bc60;

    --card: #fffffe;
    --card-hover: #d8eefe;

    --font-sans-rubik: "Rubik", sans-serif;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-custom-card: var(--card);
  --color-custom-card-hover: var(--card-hover);

  --color-headline: var(--headline);
  --color-subline: var(--subline);
  --color-highlight: var(--highlight);
  --color-tertiary: var(--tertiary);

  --font-sans: var(--font-sans-rubik);
}

body {
  background: var(--background);
  color: var(--subline);
  font-family: var(--font-sans);
}

body,
#__next {
  min-height: 100vh;
}

.highlight {
  color: var(--highlight);
}
